@{
    ViewBag.Title = "Forbidden";
}

<h2>Authorized section</h2>
<hr/>
<p class="lead">You are not the authorized to access this section. Please log in.</p>
@Html.ActionLink("Return to home page", "Index", "Home")