@model  PresentationLayer.Models.Employee.EmployeeDetailModel

<h4>Assigned issues</h4>
<a class="btn btn-link" data-toggle="collapse" data-target="#assigned-issues">Click to toggle</a>
<div id="assigned-issues" class="collapse">
    @{ Html.RenderPartial("~/Views/Issue/ListIssues.cshtml", Model.ListIssuesModel); }
</div>