@model PresentationLayer.Models.Employee.ListEmployeesModel

@{
    ViewBag.Title = "Employees";
}

<h2>Our employees</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>E-mail</th>
    </tr>

    @foreach (var employee in Model.Employees) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => employee.Person.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => employee.Person.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => employee.Person.Email)
        </td>
    </tr>
    }

</table>