@model PresentationLayer.Models.Person.ViewAllPeopleModel

@{
    ViewBag.Title = "People";
}

<h2>Registered people</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th></th>
    </tr>

    @foreach (var person in Model.People) {
    <tr>
        <td>
            @person.Name
        </td>
        <td>
            @person.Email
        </td>
        <td>
            @Html.ActionLink("Details", "PersonDetail" , "Person" , new { personId = person.Id }, new { @class = "btn btn-primary"})
        </td>
    </tr>
    }

</table>