@model PresentationLayer.Models.Project.ListProjectsModel

@if(Model.Projects.Count != 0) {
<table class="table">
    <tr>
        <th>Name</th>
        <th>Customer</th>
        <th></th>
    </tr>

    @foreach (var project in Model.Projects) {
    <tr>
        <td>@project.Name</td>
        <td>@Html.ActionLink(project.Customer.User.Name, "UserDetail", "User", new { userId = project.Customer.User.Id }, new { @class = "btn-link"} )</td>
        <td>@Html.ActionLink("Detail", "ProjectDetail", "Project", new {projectId = project.Id}, new {@class = "btn btn-primary"})</td>
    </tr>
    }

</table>
} else {
    <h5>No projects found.</h5>
}
