@model PresentationLayer.Models.Customer.CustomerDetailModel

<h4>Customer information</h4>

<table class="table">
    <tr>
        <th>Customer type</th>
        <td>@Model.Customer.Type</td>
    </tr>
</table>

<h4>
    Projects
    <a class="btn btn-default" data-toggle="collapse" data-target="#projects">Toggle</a>
</h4>
<div id="projects" class="collapse">
    @{ Html.RenderPartial("~/Views/Project/ListProjects.cshtml", Model.ListProjectsModel); }
</div>
