@model PresentationLayer.Models.Customer.CustomerDetailModel

<h4>Customer information</h4>

<table class="table">
    <tr>
        <th>Customer type</th>
        <td>@Model.Customer.Type</td>
    </tr>
</table>

<h4>Projects</h4>
<a class="btn btn-link" data-toggle="collapse" data-target="#projects">Click to toggle</a>
<div id="projects" class="collapse">
    @{ Html.RenderPartial("~/Views/Project/ListProjects.cshtml", Model.ListProjectsModel); }
</div>
