@model PresentationLayer.Models.Customer.ViewAllCustomersModel

@{
    ViewBag.Title = "Customers";
}

<h2>Our customers</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th></th>
    </tr>

    @foreach (var customer in Model.Customers) {
    <tr>
        <td>
            @customer.Person.Name
        </td>
        <td>
            @customer.Person.Email
        </td>
        <td>
            @Html.ActionLink("Details", "PersonDetail" , "Person" , new { personId = customer.Id }, new { @class = "btn btn-primary"})
        </td>
    </tr>
    }

</table>