@{
    ViewBag.Title = "Home";
}

<h2>Awesome Issue Tracker</h2>
This is just skeleton of user interface. There is no input checking whatsoever, 
CRUD operations are implemented for entities Person, Customer, Employee, Project and 
Issue. Writing comments and getting notifications will be added in the next iteration
as well as Identity framework for login of users. Also, there is missing setting of correct
time of Issue closure. That will be added also.